body {
  margin: 0;
}

.main-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
}
